
# LangChain Core
langchain
langchain-core
langchain-community
langgraph
# Environment Variable Management 
python-dotenv

# groq Integration
langchain-groq


# Hugging Face Integration 
langchain-huggingface
huggingface-hub
transformers
sentence-transformers

# doc load
pypdf
# text splitter
langchain-text-splitters

#vector store chroma
langchain-chroma







